{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [ "react" ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
     //override rules
     "semi": 2,
     "no-console": 0,
     "global-require": 1
  }
}
